<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <table class="job-listing">
        <tr th:each="job : ${jobs}">
            <td>
                <p>
                    Job Id:
                    <a th:href="@{'/job ' + ${job.id}}" th:text="${job.id}"></a>
                </p>
                <p th:text="${'Name: ' + job.name}"></p>
                <p>
                    Employer:
                    <a th:href="@{'/Employee ' + ${job.employer.id}}" th:text="${job.employer}"></a>
                </p>
                <p>
                    Location:
                    <a th:href="@{'/Location ' + ${job.location}}" th:text="${job.location}"></a>
                </p>
                <p>
                    Position Type:
                    <a th:href="@{'/PositionType ' + ${job.positionType}}" th:text="${job.positionType}"></a>
                </p>
                <p>
                    Skill:
                    <a th:href="@{'/CoreCompetency ' + ${job.coreCompetency}}" th:text="${job.coreCompetency}"></a>
                </p>

            </td>
        </tr>
    </table>

</div>

</body>
</html>